<nav-component [large]="false" (windowScroll)="onScroll($event)"></nav-component>

<div class="page">

    <div class="material">

        <h2>our classes</h2>

        <p>Tumeric man bun kombucha, deep v try-hard pinterest 90's four dollar toast 3 wolf moon prism truffaut semiotics migas. Single-origin coffee affogato brooklyn meggings pour-over tumeric, small batch chillwave pickled synth mumblecore asymmetrical celiac. Cronut banjo beard semiotics pok pok quinoa poke. Cray offal put a bird on it, coloring book beard hella lumbersexual enamel pin. Bushwick farm-to-table cliche fanny pack vaporware. Portland williamsburg master cleanse, trust fund kombucha lumbersexual pork belly truffaut distillery schlitz gluten-free af flexitarian messenger bag. Roof party blog vice master cleanse mixtape, actually street art next level slow-carb meggings fam hot chicken dreamcatcher gochujang synth.</p>
    
        <div class="column content-item">

            <div *ngFor="let class of classes"
                class="model lab-card content-item clickable"
                [lab]="class"
                (click)="clickLab(class)"></div>

        </div>
        
        <h2 *ngIf="dropins.length">drop-in sessions</h2>

        <p *ngIf="dropins.length">Sustainable literally live-edge butcher, master cleanse dreamcatcher tumeric artisan art party sartorial VHS austin keytar. 8-bit before they sold out you probably haven't heard of them paleo.</p>

        <div class="column content-item" *ngIf="dropins.length">

            <div *ngFor="let class of dropins"
                class="model lab-card content-item clickable"
                [lab]="class"
                (click)="clickLab(class)"></div>

        </div>

    </div>

</div>