.error {
    color: darkred;

    &select {
        border-color: darkred;
    }
}

.backdrop {
    @include fixed(0,100%,0,0);
    z-index: 4000;
    background: $color-shade;
    opacity: 0;
    transition: opacity $swift-ease-out-duration $swift-ease-out-timing-function, right 0ms $swift-ease-out-duration;

    &.show {
        transition: opacity $swift-ease-out-duration $swift-ease-out-timing-function;
        right: 0px;
        opacity: 1;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.invisible {
    visibility: hidden !important;
}

.hide {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

.button {
    padding: $content-padding;
    border: 2px solid $color-primary;
    color: $color-primary;
    text-decoration: none;
    font-weight: bold;
    border-radius: $border-radius * 2;
    margin-bottom: $content-item-vertical-margin;
    cursor: pointer;

    @media #{$media-mobile} {
        padding: $content-padding * 2;
    }
}

.fill {
    width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

    .metadata {
        flex-basis: 26%;
        margin-right: 4%;
    }
    .content {
        flex-basis: 70%;
    }

    @media #{$media-mobile} {
        flex-direction: column;

        .metadata {
            flex-basis: 100%;
            margin: 0;
        }
        .content {
            flex-basis: 100%;
        }
    }
}

.content {
    p {
        margin-bottom: $content-item-vertical-margin / 2;
    }
}

.left, .right {
    flex-basis: 49%;
}

.badge {
    border: 1px solid $color-hr;
    border-radius: 50%;
    padding: 5px;
    background-color: $color-material-bg;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;

    .metadata {
        img {
            margin: 0;
        }
        h5 {
            text-align: center;
        }
    }
}

.model {
    flex-basis: 30%;
    margin: 0 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $color-hr;
    border-radius: $border-radius * 2;
    align-items: center;

    h2, h4 {
        font-size: 2em;
        margin: 0 2%;
        font-family: $font-cursive;
    }
    h5 {
        margin: 0 2% 2%;
        font-size: 0.8em;
    }

    p {
        margin: 0 2% 2%;
    }

    .image-wrapper {
        width: 100%;
        position: relative;
        overflow: hidden;

        &:before {
            /* makes it square! */
            content: "";
            display: block;
            padding-top: 100%;
        }

        img {
            position: absolute;
            top: 0;
            margin: 0;
        }
    }

    &.full {
        img {
            width: 25%;
            float: left;
            margin-right: 5%;
        }
    }

    @include md-elevation-transition();
    @include md-elevation(0);
    &:hover {
        @include md-elevation(8);
    }

    @media #{$media-mobile} {
        flex-basis: 48%;

        h4 {
            font-size: 2em;
        }
        h5 {
            font-size: 1.2em;
        }
    }
}

.headshot {
    width: 25%;
    margin-right: 5%;
}

.lab-card {
    flex-basis: 48%;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0;
    padding: $content-padding;
    padding-left: $content-padding * 2;
    border-bottom: 0px;
    margin: 0px;
    position: relative;

    h4 {
        margin: 2%;
        color: $color-primary;
    }

    .metadata {
        margin: 0 2% 2%;
    }

    .badge {
        @include abs(1vw, null, null, -25px, 5);
        margin-top: 7px;
        @include md-elevation(0);
        @include md-elevation-transition();

        @media #{$media-mobile} {
            left: auto;
            right: -25px;
        }
    }

    &:first-child {
        border-radius: $border-radius*2 $border-radius*2 0 0;
    }
    &:last-child {
        border-bottom: 1px solid $color-hr;
        border-radius: 0 0 $border-radius*2 $border-radius*2;
    }

    &:hover {
        border-radius: $border-radius * 2;

        .badge {
            @include md-elevation(8);
        }
    }
}

.metadata {
    &.right {
        text-align: right;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.2em;
        font-weight: bold;

        &:last-child {
            border-right: 0px;
            margin-right: 0px;
            padding-right: 0px;
        }

        &:not(:last-child):after {
            content: "\2022";
            margin: 0 $metadata-spacing 0 ($metadata-spacing * 2)
        }
    }

    i {
        width: 16px;
        height: 14px;
        text-align: center;
        display: inline-block;
    }

    h3, .content-item {
        margin-bottom: 0;
        line-height: 1.2em;
    }
}