.icon {
    background-image: url('/images/icon.spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}

.icon-amp {
    width: 40px;
    height: 40px;
    background-position: -5px -5px;
}

.icon-book {
    width: 40px;
    height: 40px;
    background-position: -55px -5px;
}

.icon-box {
    width: 40px;
    height: 40px;
    background-position: -105px -5px;
}

.icon-branch {
    width: 40px;
    height: 40px;
    background-position: -155px -5px;
}

.icon-briefcase {
    width: 40px;
    height: 40px;
    background-position: -205px -5px;
}

.icon-brush {
    width: 40px;
    height: 40px;
    background-position: -5px -55px;
}

.icon-bulb {
    width: 40px;
    height: 40px;
    background-position: -55px -55px;
}

.icon-camera {
    width: 40px;
    height: 40px;
    background-position: -105px -55px;
}

.icon-candles {
    width: 40px;
    height: 40px;
    background-position: -155px -55px;
}

.icon-chair {
    width: 40px;
    height: 40px;
    background-position: -205px -55px;
}

.icon-coffee {
    width: 40px;
    height: 40px;
    background-position: -5px -105px;
}

.icon-down {
    width: 40px;
    height: 40px;
    background-position: -55px -105px;
}

.icon-dude {
    width: 40px;
    height: 40px;
    background-position: -105px -105px;
}

.icon-ear {
    width: 40px;
    height: 40px;
    background-position: -155px -105px;
}

.icon-exclamation {
    width: 40px;
    height: 40px;
    background-position: -205px -105px;
}

.icon-eye {
    width: 40px;
    height: 40px;
    background-position: -5px -155px;
}

.icon-film {
    width: 40px;
    height: 40px;
    background-position: -55px -155px;
}

.icon-hammer {
    width: 40px;
    height: 40px;
    background-position: -105px -155px;
}

.icon-hoe {
    width: 40px;
    height: 40px;
    background-position: -155px -155px;
}

.icon-key {
    width: 40px;
    height: 40px;
    background-position: -205px -155px;
}

.icon-magnify {
    width: 40px;
    height: 40px;
    background-position: -5px -205px;
}

.icon-mask {
    width: 40px;
    height: 40px;
    background-position: -55px -205px;
}

.icon-megaphone {
    width: 40px;
    height: 40px;
    background-position: -105px -205px;
}

.icon-plant {
    width: 40px;
    height: 40px;
    background-position: -155px -205px;
}

.icon-question {
    width: 40px;
    height: 40px;
    background-position: -205px -205px;
}

.icon-smile {
    width: 40px;
    height: 40px;
    background-position: -255px -5px;
}

.icon-speech {
    width: 40px;
    height: 40px;
    background-position: -255px -55px;
}

.icon-spotlight {
    width: 40px;
    height: 40px;
    background-position: -255px -105px;
}

.icon-star {
    width: 40px;
    height: 40px;
    background-position: -255px -155px;
}

.icon-thought {
    width: 40px;
    height: 40px;
    background-position: -255px -205px;
}

.icon-up {
    width: 40px;
    height: 40px;
    background-position: -5px -255px;
}

.icon-wrench {
    width: 40px;
    height: 40px;
    background-position: -55px -255px;
}
