@import "vars";
@import "elevation";
@import "mixins";

html {
    background-color: $color-window-bg;
    background-image: url('/images/wallpaper.png');
}

body {
    font-family: $font-family;
    color: $color-text;
}

a {
    color: $color-primary;
    text-decoration: none;

    &:visited {
        color: $color-primary;
    }
    &.active {
        color: $color-secondary;
        text-decoration: none;
    }
}

h2, h3, h4, h5, p, button, .content-item {
    margin: 0 $content-item-horizontal-margin $content-item-vertical-margin;
}

h2 {
    text-align: center;
    font-size: 3em;
    font-family: $font-cursive;

    @media #{$media-mobile} {
        font-size: 2.5em;
    }
}

h3 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.7em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $color-hr;
    margin: 1em 0;
    padding: 0; 
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
    margin: 0 auto $content-item-vertical-margin auto;
}

cultivate {

}

@import "icons";
@import "bits";
@import "nav";
@import "page";
@import "home";
@import "calendar";