@import "vars";
@import "elevation";
@import "mixins";

html {
    background-color: $color-window-bg;
    background-image: url('/images/wallpaper.png');
}

body {
    font-family: $font-family;
    color: $color-text;
}

a {
    color: $color-primary;
    text-decoration: none;

    &:visited {
        color: $color-primary;
    }
    &.active {
        color: $color-secondary;
        text-decoration: none;
    }
}

h2, h3, h4, h5, p, button, .content-item {
    margin: 0 $content-item-horizontal-margin $content-item-vertical-margin;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
    margin: 0 auto $content-item-vertical-margin auto;
}

cultivate {

}

@import "bits";
@import "nav";
@import "page";
@import "home";