@import "elevation";
@import "vars";

.page {
    padding: $page-padding;


    @media #{$media-mobile} {
        padding: $page-padding-mobile;
    }

    .material {
        margin: $page-material-margin;
        border-radius: $border-radius;
        //@include md-elevation($card-elevation-default);
        background: $color-material-bg;
        padding: $page-material-padding;
        position: relative;
        z-index: 2;
        min-height: 70vh;
        display: flex;
        align-items: center;
        flex-direction: column;

        .left {
            align-self: flex-start;
        }

        @include md-elevation($page-elevation);

        &.dim {
            opacity: 0.5;
        }

        &:first-child {
            margin-top: 0px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            @media #{$media-mobile} {
                padding-top: $page-material-padding-mobile;
            }
        }
        &:last-child {
            margin-bottom: 0px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        @media #{$media-desktop} {
            & > *:first-child {
                margin-top: 0;
            }
        }

        & > *:last-child{
            margin-bottom: $content-item-vertical-margin !important;
        }

        h2 {
            text-align: center;
            font-size: 3em;
            font-family: $font-cursive;
        }

        p {
            line-height: 1.7em;
        }
    }
}