// colors!
$color-primary: #6fab33; // the primary color for the app!
$color-primary-text: rgba(252,247,209, 1); // color for text when shown on top of the primary color

$color-secondary: #ffa70f; // the color for various components

$color-window-bg: #e5e5e5; // the window background color
$color-material-bg: #FFFFFF; // background color for the "sheets" of material (details page, for example)

$color-shade: rgba(0,0,0,0.2); // the color for fullscreen 'shade' elements

$color-text: #666; // primary text color
$color-hr: #e5e5e5; // color for dividers

$color-transparent: rgba(0,0,0,0); //utility!


// FONT
$font-family: 'Roboto', 'Helvetica Neue', sans-serif !default;
$font-cursive: 'Reenie Beanie', cursive;

// media query names
$media-desktop: "only screen and (min-width: 500px)";
$media-tablet: "only screen and (max-width: 768px)";
$media-mobile: "only screen and (max-width: 500px)";

// The default animation curves used by material design.
$md-linear-out-slow-in-timing-function: cubic-bezier(0, 0, 0.2, 0.1) !default;
$md-fast-out-slow-in-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
$md-fast-out-linear-in-timing-function: cubic-bezier(0.4, 0, 1, 1) !default;

$ease-in-out-curve-function: cubic-bezier(0.35, 0, 0.25, 1) !default;

$swift-ease-out-duration: 400ms !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration: 300ms !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

$swift-ease-in-out-duration: 500ms !default;
$swift-ease-in-out-timing-function: $ease-in-out-curve-function !default;
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function !default;

$swift-linear-duration: 80ms !default;
$swift-linear-timing-function: linear !default;
$swift-linear: all $swift-linear-duration $swift-linear-timing-function !default;

// elevations
$page-elevation: 2;
$nav-elevation: 12;

// dimens
$content-padding: 1%;
$content-spacing: 1%;

$content-item-vertical-margin: 5%;
$content-item-horizontal-margin: 0;

$margin: 14px;
$border-radius: 2px;

$nav-height: 15vw;
$nav-height-mobile: 85vw;

// pages
$page-padding: $nav-height $content-item-vertical-margin 0 $content-item-vertical-margin;
$page-padding-mobile: $nav-height-mobile ($content-item-vertical-margin / 2) 0 ($content-item-vertical-margin / 2);

$page-header-spacing: 12px;
$page-margin: 5%;
$page-item-spacing: 8px;

$page-material-padding: 5%;
$page-material-padding-mobile: 5vh;
$page-material-margin: $content-item-vertical-margin 6% $content-item-vertical-margin;

// content
$metadata-spacing: 5px;