doctype html
html(lang="en")
  head
    base(href="/")

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(name="description", content="Meet Cultivate, a new theatrical collective by actors for actors to help you cultivate your craft.")
    meta(name="author" content="The Speaker's Studio")
    title="Cultivate: A project of The Speaker's Studio"

    link(rel='stylesheet', href='/css/style.css')

    //script(src="https://use.fontawesome.com/3cefb17d60.js")

    link(href='https://fonts.googleapis.com/css?family=Roboto|Reenie+Beanie', rel='stylesheet', type='text/css') 

    meta(name="msapplication-TileColor", content="#f5a73e")
    meta(name="msapplication-TileImage", content="/favicon/ms-icon-144x144.png")
    //meta(name="theme-color", content="#f5a73e")
  body

    script(src="/node_modules/core-js/client/shim.min.js")
    script(src="/node_modules/zone.js/dist/zone.js")
    script(src="/node_modules/reflect-metadata/Reflect.js")
    script(src="/node_modules/systemjs/dist/system.src.js")

    script(src="/systemjs.config.js")
    script.
      System.import('app').catch(function(err){ console.error(err); });

    cultivate
