/* This whole puppy was done up by Shauvon McGill - smcgill@denyconformity.com */
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-color: #e5e5e5;
  background-image: url("/images/wallpaper.png"); }

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  color: #666; }

a {
  color: #6fab33;
  text-decoration: none; }
  a:visited {
    color: #6fab33; }
  a.active {
    color: #ffa70f;
    text-decoration: none; }

h2, h3, h4, h5, p, button, .content-item {
  margin: 0 0 5vw; }

h2 {
  text-align: center;
  font-size: 3em;
  font-family: "Reenie Beanie", cursive; }
  @media only screen and (max-width: 500px) {
    h2 {
      font-size: 2.5em; } }

h3 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.7em; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e5e5;
  margin: 1em 0;
  padding: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

img {
  max-width: 100%;
  margin: 0 auto 5vw auto; }

.icon {
  background-image: url("/images/icon.spritesheet.png");
  background-repeat: no-repeat;
  display: block; }

.icon-amp {
  width: 40px;
  height: 40px;
  background-position: -5px -5px; }

.icon-book {
  width: 40px;
  height: 40px;
  background-position: -55px -5px; }

.icon-box {
  width: 40px;
  height: 40px;
  background-position: -105px -5px; }

.icon-branch {
  width: 40px;
  height: 40px;
  background-position: -155px -5px; }

.icon-briefcase {
  width: 40px;
  height: 40px;
  background-position: -205px -5px; }

.icon-brush {
  width: 40px;
  height: 40px;
  background-position: -5px -55px; }

.icon-bulb {
  width: 40px;
  height: 40px;
  background-position: -55px -55px; }

.icon-camera {
  width: 40px;
  height: 40px;
  background-position: -105px -55px; }

.icon-candles {
  width: 40px;
  height: 40px;
  background-position: -155px -55px; }

.icon-chair {
  width: 40px;
  height: 40px;
  background-position: -205px -55px; }

.icon-coffee {
  width: 40px;
  height: 40px;
  background-position: -5px -105px; }

.icon-down {
  width: 40px;
  height: 40px;
  background-position: -55px -105px; }

.icon-dude {
  width: 40px;
  height: 40px;
  background-position: -105px -105px; }

.icon-ear {
  width: 40px;
  height: 40px;
  background-position: -155px -105px; }

.icon-exclamation {
  width: 40px;
  height: 40px;
  background-position: -205px -105px; }

.icon-eye {
  width: 40px;
  height: 40px;
  background-position: -5px -155px; }

.icon-film {
  width: 40px;
  height: 40px;
  background-position: -55px -155px; }

.icon-hammer {
  width: 40px;
  height: 40px;
  background-position: -105px -155px; }

.icon-hoe {
  width: 40px;
  height: 40px;
  background-position: -155px -155px; }

.icon-key {
  width: 40px;
  height: 40px;
  background-position: -205px -155px; }

.icon-magnify {
  width: 40px;
  height: 40px;
  background-position: -5px -205px; }

.icon-mask {
  width: 40px;
  height: 40px;
  background-position: -55px -205px; }

.icon-megaphone {
  width: 40px;
  height: 40px;
  background-position: -105px -205px; }

.icon-plant {
  width: 40px;
  height: 40px;
  background-position: -155px -205px; }

.icon-question {
  width: 40px;
  height: 40px;
  background-position: -205px -205px; }

.icon-smile {
  width: 40px;
  height: 40px;
  background-position: -255px -5px; }

.icon-speech {
  width: 40px;
  height: 40px;
  background-position: -255px -55px; }

.icon-spotlight {
  width: 40px;
  height: 40px;
  background-position: -255px -105px; }

.icon-star {
  width: 40px;
  height: 40px;
  background-position: -255px -155px; }

.icon-thought {
  width: 40px;
  height: 40px;
  background-position: -255px -205px; }

.icon-up {
  width: 40px;
  height: 40px;
  background-position: -5px -255px; }

.icon-wrench {
  width: 40px;
  height: 40px;
  background-position: -55px -255px; }

.error {
  color: darkred; }
  .errorselect {
    border-color: darkred; }

.backdrop {
  position: fixed;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  z-index: 4000;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1), right 0ms 400ms; }
  .backdrop.show {
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    right: 0px;
    opacity: 1; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix {
  clear: both; }

.invisible {
  visibility: hidden !important; }

.hide {
  display: none !important; }

.clickable {
  cursor: pointer; }

.button {
  padding: 1vw;
  border: 2px solid #6fab33;
  color: #6fab33;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 5vw;
  cursor: pointer; }
  @media only screen and (max-width: 500px) {
    .button {
      padding: 2vw; } }

.fill {
  width: 100%; }

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; }

.column {
  display: flex;
  flex-direction: column;
  width: 100%; }

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%; }
  .columns .metadata {
    flex-basis: 26%;
    margin-right: 4%; }
  .columns .content {
    flex-basis: 70%; }
  @media only screen and (max-width: 500px) {
    .columns {
      flex-direction: column; }
      .columns .metadata {
        flex-basis: 100%;
        margin: 0; }
      .columns .content {
        flex-basis: 100%; } }

.content p {
  margin-bottom: 2.5vw; }

.left, .right {
  flex-basis: 49%; }

.badge {
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  padding: 5px;
  background-color: #FFFFFF; }

.person {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .person .metadata img {
    margin: 0; }
  .person .metadata h5 {
    text-align: center; }

.model {
  flex-basis: 30%;
  margin: 0 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  align-items: center;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }
  .model h2, .model h4 {
    font-size: 2em;
    margin: 0 2%;
    font-family: "Reenie Beanie", cursive; }
  .model h5 {
    margin: 0 2% 2%;
    font-size: 0.8em; }
  .model p {
    margin: 0 2% 2%; }
  .model .image-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden; }
    .model .image-wrapper:before {
      /* makes it square! */
      content: "";
      display: block;
      padding-top: 100%; }
    .model .image-wrapper img {
      position: absolute;
      top: 0;
      margin: 0; }
  .model.full img {
    width: 25%;
    float: left;
    margin-right: 5%; }
  .model:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }
  @media only screen and (max-width: 500px) {
    .model {
      flex-basis: 48%; }
      .model h4 {
        font-size: 2em; }
      .model h5 {
        font-size: 1.2em; } }

.headshot {
  width: 25%;
  margin-right: 5%; }

.lab-card {
  flex-basis: 48%;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 0;
  padding: 1vw;
  padding-left: 2vw;
  border-bottom: 0px;
  margin: 0px;
  position: relative; }
  .lab-card h4 {
    margin: 2%;
    color: #6fab33; }
  .lab-card .metadata {
    margin: 0 2% 2%; }
  .lab-card .badge {
    position: absolute;
    top: 1vw;
    left: -25px;
    z-index: 5;
    margin-top: 7px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow; }
    @media only screen and (max-width: 500px) {
      .lab-card .badge {
        left: auto;
        right: -25px; } }
  .lab-card:first-child {
    border-radius: 4px 4px 0 0; }
  .lab-card:last-child {
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0 0 4px 4px; }
  .lab-card:hover {
    border-radius: 4px; }
    .lab-card:hover .badge {
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.metadata.right {
  text-align: right; }

.metadata span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
  font-weight: bold; }
  .metadata span:last-child {
    border-right: 0px;
    margin-right: 0px;
    padding-right: 0px; }
  .metadata span:not(:last-child):after {
    content: "\2022";
    margin: 0 5px 0 10px; }

.metadata i {
  width: 16px;
  height: 14px;
  text-align: center;
  display: inline-block; }

.metadata h3, .metadata .content-item {
  margin-bottom: 0;
  line-height: 1.2em; }

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  min-height: 3em;
  height: 15vw;
  background-color: #FFFFFF;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 200ms; }
  @media only screen and (max-width: 500px) {
    nav {
      min-height: 1.1em;
      height: 85vw; } }
  nav .speakers-studio {
    position: absolute;
    top: 5px;
    right: 5px; }
  nav .logo-no-text {
    position: absolute;
    top: 5px;
    left: 50%;
    z-index: 5;
    width: 7vw;
    margin-left: -3.5vw;
    max-width: 231px;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 300ms, transform 300ms;
    cursor: pointer;
    margin: 0; }
    @media only screen and (max-width: 500px) {
      nav .logo-no-text {
        width: 13.5vw;
        margin-left: -6.75vw; } }
  nav.anchored {
    background-color: #ffa70f; }
    nav.anchored .speakers-studio {
      display: none; }
    nav.anchored .logo {
      opacity: 0;
      transform: scale(0.9) translateX(-50px); }
    nav.anchored .logo-no-text {
      opacity: 1;
      transform: translateX(0px); }
    nav.anchored .logo-wallpaper {
      display: none; }
    @media only screen and (max-width: 500px) {
      nav.anchored a {
        display: none; } }
  nav h2 {
    font-size: 3em;
    text-align: center;
    font-family: "Reenie Beanie", cursive;
    position: absolute;
    bottom: 5vw;
    z-index: 1;
    margin: 0;
    width: 100%; }
    @media only screen and (max-width: 500px) {
      nav h2 {
        font-size: 1em;
        bottom: 1%; } }

.nav-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 500px) {
    .nav-flex {
      flex-direction: column;
      overflow: hidden; } }
  .nav-flex .logo-wrapper {
    z-index: 1; }
    @media only screen and (max-width: 500px) {
      .nav-flex .logo-wrapper {
        order: -1;
        flex-grow: 0.35; } }
  .nav-flex .logo {
    width: 31vw;
    max-width: 800px;
    transition: opacity 300ms, transform 300ms;
    cursor: pointer;
    margin: 0; }
    @media only screen and (max-width: 500px) {
      .nav-flex .logo {
        width: 60vw; } }
  .nav-flex .logo-wallpaper {
    width: 41vw;
    position: absolute;
    top: -9.5vw;
    left: -5.5vw;
    z-index: 1;
    margin: 0;
    max-width: none; }
    @media only screen and (max-width: 500px) {
      .nav-flex .logo-wallpaper {
        width: 79vw;
        top: -18.5vw;
        left: -11.5vw; } }
  .nav-flex a {
    text-decoration: none;
    font-size: 2em;
    flex-grow: 1;
    text-align: center;
    font-family: "Reenie Beanie", cursive;
    color: #666;
    flex-basis: 15vw;
    position: relative;
    z-index: 2; }
    .nav-flex a:visited {
      color: #666; }
    .nav-flex a.active {
      color: #6fab33;
      font-weight: bold; }
    @media only screen and (max-width: 768px) {
      .nav-flex a {
        font-size: 1.5em; } }
    @media only screen and (max-width: 500px) {
      .nav-flex a {
        flex-grow: 0;
        font-size: 2em;
        flex-basis: 1.3em; } }

footer {
  padding: 5%;
  background: #666;
  color: #FFFFFF;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }
  footer a {
    text-decoration: none;
    font-size: 2em;
    flex-grow: 1;
    text-align: center;
    font-family: "Reenie Beanie", cursive;
    flex-basis: 15vw; }
    footer a:visited {
      color: #6fab33; }
    footer a.active {
      color: #6fab33;
      font-weight: bold; }

.copyright {
  padding: 5% 0;
  display: flex;
  justify-content: center; }

.page {
  padding: 15vw 5vw 0 5vw; }
  @media only screen and (max-width: 500px) {
    .page {
      padding: 85vw 2.5vw 0 2.5vw; } }
  .page .material {
    margin: 5vw 6% 5vw;
    border-radius: 2px;
    background: #FFFFFF;
    padding: 5%;
    position: relative;
    z-index: 2;
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .page .material .left {
      align-self: flex-start; }
    .page .material.dim {
      opacity: 0.5; }
    .page .material:first-child {
      margin-top: 0px;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
      @media only screen and (max-width: 500px) {
        .page .material:first-child {
          padding-top: 5vh; } }
    .page .material:last-child {
      margin-bottom: 0px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    @media only screen and (min-width: 500px) {
      .page .material > *:first-child {
        margin-top: 0; } }
    .page .material > *:last-child {
      margin-bottom: 5vw !important; }
    .page .material .columns .metadata {
      text-align: right; }
      @media only screen and (max-width: 500px) {
        .page .material .columns .metadata {
          text-align: center;
          margin-bottom: 5vw; } }
    .page .material .price {
      font-size: 2em; }
    .page .material p {
      line-height: 1.7em; }

cultivate-home nav {
  height: 87.5vh; }

cultivate-home .page {
  padding-top: 87.5vh; }

cultivate-calendar .page .material {
  padding-left: 0px;
  padding-right: 0px; }
  cultivate-calendar .page .material .cal-control {
    font-size: 2em;
    font-family: "Reenie Beanie", cursive;
    padding: 0.5vw 1vw; }

.month {
  font-size: 1.2em;
  margin: -2vw 0 1vw 0; }

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .calendar .week {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .calendar .week .day {
      border-style: solid;
      border-width: 1px 1px 0 0;
      border-color: #e5e5e5;
      box-sizing: border-box;
      flex: 1 1;
      position: relative; }
      .calendar .week .day:before {
        /* makes it square! */
        content: "";
        display: block;
        padding-top: 100%; }
      .calendar .week .day:first-child {
        border-left-width: 1px; }
      .calendar .week .day .today {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0px 0px 2px #6fab33 inset; }
      .calendar .week .day .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column; }
        .calendar .week .day .content .date {
          align-self: flex-end;
          padding: 5px 5px 5px 0; }
        .calendar .week .day .content .lab {
          padding: 5px;
          border-radius: 2px;
          box-sizing: border-box;
          font-size: 0.8em;
          color: #ffa70f;
          overflow: hidden;
          width: 100%;
          transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
          will-change: box-shadow;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }
          .calendar .week .day .content .lab:hover {
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
          .calendar .week .day .content .lab .name {
            width: 100%;
            box-sizing: border-box;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.1em;
            display: block; }
          .calendar .week .day .content .lab i {
            display: inline-block; }
          .calendar .week .day .content .lab:hover {
            background: #FFF; }
            .calendar .week .day .content .lab:hover .name {
              white-space: normal; }
    .calendar .week.header .day {
      border: 0px;
      padding: 0 0 0 10px; }
      .calendar .week.header .day:before {
        display: none; }
    .calendar .week:last-child .day {
      border-bottom-width: 1px; }
      .calendar .week:last-child .day:first-child {
        border-left-width: 1px; }

/*# sourceMappingURL=style.css.map */
