<nav-component [large]="true" (windowScroll)="onScroll($event)"></nav-component>

<div class="page">

    <div class="material">

        <h2 [style.opacity]="((scrollpos-150) / 150)">cultivate your craft</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eget tempus convallis. Aenean malesuada nibh non libero mollis egestas ac eget neque. Mauris id gravida tellus, in facilisis ligula. Suspendisse non quam vitae massa vestibulum consequat in ut nisl. Aenean suscipit, quam iaculis pharetra condimentum, justo ipsum finibus elit, non dictum sapien leo vitae ipsum. Cras ullamcorper tellus ac nisi gravida vestibulum. Donec consequat diam sit amet felis dapibus cursus.</p>

        <div class="content-item">

            

        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eget tempus convallis. Aenean malesuada nibh non libero mollis egestas ac eget neque. Mauris id gravida tellus, in facilisis ligula. Suspendisse non quam vitae massa vestibulum consequat in ut nisl. Aenean suscipit, quam iaculis pharetra condimentum, justo ipsum finibus elit, non dictum sapien leo vitae ipsum. Cras ullamcorper tellus ac nisi gravida vestibulum. Donec consequat diam sit amet felis dapibus cursus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eget tempus convallis. Aenean malesuada nibh non libero mollis egestas ac eget neque. Mauris id gravida tellus, in facilisis ligula. Suspendisse non quam vitae massa vestibulum consequat in ut nisl. Aenean suscipit, quam iaculis pharetra condimentum, justo ipsum finibus elit, non dictum sapien leo vitae ipsum. Cras ullamcorper tellus ac nisi gravida vestibulum. Donec consequat diam sit amet felis dapibus cursus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eget tempus convallis. Aenean malesuada nibh non libero mollis egestas ac eget neque. Mauris id gravida tellus, in facilisis ligula. Suspendisse non quam vitae massa vestibulum consequat in ut nisl. Aenean suscipit, quam iaculis pharetra condimentum, justo ipsum finibus elit, non dictum sapien leo vitae ipsum. Cras ullamcorper tellus ac nisi gravida vestibulum. Donec consequat diam sit amet felis dapibus cursus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eget tempus convallis. Aenean malesuada nibh non libero mollis egestas ac eget neque. Mauris id gravida tellus, in facilisis ligula. Suspendisse non quam vitae massa vestibulum consequat in ut nisl. Aenean suscipit, quam iaculis pharetra condimentum, justo ipsum finibus elit, non dictum sapien leo vitae ipsum. Cras ullamcorper tellus ac nisi gravida vestibulum. Donec consequat diam sit amet felis dapibus cursus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eget tempus convallis. Aenean malesuada nibh non libero mollis egestas ac eget neque. Mauris id gravida tellus, in facilisis ligula. Suspendisse non quam vitae massa vestibulum consequat in ut nisl. Aenean suscipit, quam iaculis pharetra condimentum, justo ipsum finibus elit, non dictum sapien leo vitae ipsum. Cras ullamcorper tellus ac nisi gravida vestibulum. Donec consequat diam sit amet felis dapibus cursus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eget tempus convallis. Aenean malesuada nibh non libero mollis egestas ac eget neque. Mauris id gravida tellus, in facilisis ligula. Suspendisse non quam vitae massa vestibulum consequat in ut nisl. Aenean suscipit, quam iaculis pharetra condimentum, justo ipsum finibus elit, non dictum sapien leo vitae ipsum. Cras ullamcorper tellus ac nisi gravida vestibulum. Donec consequat diam sit amet felis dapibus cursus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eget tempus convallis. Aenean malesuada nibh non libero mollis egestas ac eget neque. Mauris id gravida tellus, in facilisis ligula. Suspendisse non quam vitae massa vestibulum consequat in ut nisl. Aenean suscipit, quam iaculis pharetra condimentum, justo ipsum finibus elit, non dictum sapien leo vitae ipsum. Cras ullamcorper tellus ac nisi gravida vestibulum. Donec consequat diam sit amet felis dapibus cursus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eget tempus convallis. Aenean malesuada nibh non libero mollis egestas ac eget neque. Mauris id gravida tellus, in facilisis ligula. Suspendisse non quam vitae massa vestibulum consequat in ut nisl. Aenean suscipit, quam iaculis pharetra condimentum, justo ipsum finibus elit, non dictum sapien leo vitae ipsum. Cras ullamcorper tellus ac nisi gravida vestibulum. Donec consequat diam sit amet felis dapibus cursus.</p>

    </div>

</div>