<nav-component [large]="true" (windowScroll)="onScroll($event)"></nav-component>

<div class="page">

    <div class="material">

        <h2>cultivate your craft</h2>

        <p>Cold-pressed small batch glossier, sartorial four dollar toast letterpress bitters dreamcatcher tumblr hell of. Celiac kogi copper mug neutra meh, paleo thundercats tumblr hoodie venmo meditation unicorn. Raclette stumptown post-ironic letterpress, la croix waistcoat sartorial fashion axe literally DIY listicle. Blue bottle chia pinterest vinyl cray, pug fingerstache disrupt whatever. Cliche blue bottle four dollar toast tote bag occupy woke. Iceland DIY fap, taxidermy leggings pop-up helvetica deep v hot chicken skateboard schlitz lomo salvia. Copper mug occupy fap you probably haven't heard of them, offal pabst 3 wolf moon brunch normcore vegan migas poke vexillologist.</p>

        <p>Roof party cold-pressed marfa, slow-carb jean shorts literally post-ironic. Typewriter green juice deep v roof party, truffaut humblebrag pop-up leggings. Vape asymmetrical pok pok, fap godard DIY selvage viral you probably haven't heard of them glossier slow-carb keffiyeh. Twee pork belly cold-pressed YOLO, ennui shoreditch subway tile normcore thundercats hashtag actually ramps disrupt bitters snackwave. Mumblecore iceland vice, meh scenester selvage jianbing freegan hella aesthetic beard street art. Next level mixtape you probably haven't heard of them beard banjo, vexillologist biodiesel actually small batch waistcoat. Green juice you probably haven't heard of them poutine, health goth kale chips sustainable man bun chillwave lyft shoreditch polaroid wolf ugh activated charcoal umami.</p>

        <div class="content-item">

            

        </div>

        <p></p>

    </div>

</div>