<nav>

    <a href="#">about</a>

    <a href="#">classes</a>

    <img class="logo" src="/images/logo.png" />

    <a href="#">calendar</a>

    <a href="#">for teachers</a>

</nav>

<div class="curtain"></div>

<div class="page">

    <div class="material">
        <h2>cultivate your craft</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis lorem eget tempus convallis. Aenean malesuada nibh non libero mollis egestas ac eget neque. Mauris id gravida tellus, in facilisis ligula. Suspendisse non quam vitae massa vestibulum consequat in ut nisl. Aenean suscipit, quam iaculis pharetra condimentum, justo ipsum finibus elit, non dictum sapien leo vitae ipsum. Cras ullamcorper tellus ac nisi gravida vestibulum. Donec consequat diam sit amet felis dapibus cursus.</p>

        <p>Nam diam justo, iaculis sed maximus ut, vehicula a erat. Aenean scelerisque elit odio, non rutrum urna cursus ac. Nam id egestas est, in commodo lacus. Morbi posuere eros sit amet consectetur suscipit. Fusce cursus nulla et rhoncus consequat. Praesent pulvinar iaculis diam, vel blandit diam aliquet in. Sed finibus massa eget congue suscipit. Quisque non lectus iaculis, volutpat augue ut, rhoncus magna. Duis posuere odio in sem dignissim, quis auctor ligula eleifend. Cras euismod tincidunt est, at malesuada urna feugiat ut.</p>

        <p>Sed porttitor facilisis tempor. Morbi ultricies eget nibh in elementum. Sed molestie, dolor non semper egestas, dui ipsum sodales lorem, vel vehicula mauris sapien sed libero. Praesent velit magna, ultricies nec lobortis eleifend, ornare ut sem. Nulla sit amet nunc vitae purus lacinia dictum. In eget lectus id tortor hendrerit congue ut interdum enim. Fusce eget est et arcu varius dapibus a id augue. Donec ac tempor dui, ac facilisis risus. Ut non dolor gravida, sagittis nunc ut, fringilla turpis. Pellentesque et massa in nibh tincidunt malesuada a sit amet nunc. Vivamus vitae arcu massa. Pellentesque egestas mattis metus, ut tempor nibh.</p>

        <p>Sed auctor velit eget imperdiet efficitur. Nullam gravida ipsum eu velit iaculis, id blandit tortor commodo. Suspendisse consectetur vestibulum nunc nec hendrerit. Pellentesque id sem nec purus eleifend malesuada dictum vel ex. Integer vitae elementum velit. Donec et imperdiet libero. Cras finibus porta justo, at feugiat libero rutrum nec.</p>

        <p>Morbi semper imperdiet orci vel scelerisque. Suspendisse potenti. Aliquam ullamcorper fermentum mauris in accumsan. Etiam faucibus pulvinar mauris at placerat. Mauris mi turpis, facilisis nec est id, imperdiet maximus tortor. Mauris quis tellus tellus. Curabitur convallis sem ac mi dignissim tempus. Suspendisse sit amet nunc iaculis, consectetur orci a, commodo mauris. Proin semper vulputate nisl, quis tincidunt augue lacinia sit amet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam euismod viverra nisl, vel lacinia magna feugiat nec. Integer cursus lacus quis sem sodales efficitur. Aliquam at enim sed diam dignissim bibendum sit amet id tellus. Fusce eget ex erat. Aenean non velit eros.</p> 

    </div>

</div>